#KINGPRING RAMPS 1.6 board running ANET A8


[pause_resume]
#recover_velocity: 50.
#   When capture/restore is enabled, the speed at which to return to
#   the captured position (in mm/s). Default is 50.0 mm/s.

[stepper_x]
step_pin: ar54
dir_pin: ar55
enable_pin: !ar38
step_distance: .005
endstop_pin: ^!ar3
position_endstop: -12
position_max: 220
position_min: -15
homing_speed: 50

[stepper_y]
step_pin: ar60
dir_pin: ar61
enable_pin: !ar56
step_distance: .005
endstop_pin: ^!ar14
position_endstop: 0
position_min: -4
position_max: 220
homing_speed: 50

[stepper_z]
step_pin: ar46
dir_pin: !ar48
enable_pin: !ar62
step_distance: .00125
endstop_pin: probe:z_virtual_endstop
position_max: 200
#position_endstop: 0.5
position_max: 240
position_min: -10
homing_speed: 20

[bltouch]
sensor_pin: ar18
control_pin: ar11
x_offset: 30
y_offset: 0
samples: 3
#z_offset: 0
pin_up_touch_mode_reports_triggered: False

[homing_override]
gcode:
    G90 ; Use absolute position mode
    G1 Z20 ; Move up 10mm
    G28 X Y
    G1 X100 Y100 F6000 ; Change the X and Y coordinates to the center of your print bed
    G28 Z
set_position_z: 0.0
axes: z

[extruder]
step_pin: ar26
dir_pin: ar28
enable_pin: !ar24
#step_distance: .00525
rotation_distance: 33.600
microsteps: 32
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: ar10
sensor_type: ATC Semitec 104GT-2
sensor_pin: analog13
#control: pid
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114
min_temp: 0
max_temp: 260
max_extrude_cross_section: 4
max_extrude_only_distance: 100.0

[heater_bed]
heater_pin: ar8
sensor_type: NTC 100K beta 3950
#sensor_type: EPCOS 100K B57560G104F
sensor_pin: analog14
#control: watermark
min_temp: 0
max_temp: 130

[bed_mesh]
speed: 50
horizontal_move_z: 10
#samples: 1
#samples_result: average
#sample_retract_dist: 5.0
mesh_min: 20,20
mesh_max: 200,200
probe_count: 3,3
#fade_start: 1.0
#fade_end: 0.0
#fade_target:
#split_delta_z: .025
#move_check_distance: 5.0
mesh_pps: 2,2
algorithm: bicubic
bicubic_tension: .2
#relative_reference_index:

[fan]
pin: ar9

[mcu]
serial: /dev/serial/by-id/usb-Arduino__www.arduino.cc__0042_557393230313512111A0-if00
pin_map: arduino

[gcode_arcs]
#resolution: 1.0
#   An arc will be split into segments. Each segment's length will
#   equal the resolution in mm set above. Lower values will produce a
#   finer arc, but also more work for your machine. Arcs smaller than
#   the configured value will become straight lines. The default is
#   1mm.

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 1.60
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 37.743
#*# pid_ki = 2.765
#*# pid_kd = 128.800
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 67.607
#*# pid_ki = 1.878
#*# pid_kd = 608.464
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.034583, -0.061667, -0.072917
#*# 	  -0.051250, 0.010000, -0.114583
#*# 	  -0.062917, -0.075417, -0.095833
#*# tension = 0.2
#*# min_x = 20.0
#*# algo = bicubic
#*# y_count = 3
#*# mesh_y_pps = 2
#*# min_y = 20.0
#*# x_count = 3
#*# max_y = 200.0
#*# mesh_x_pps = 2
#*# max_x = 200.0
